.app-logo-title, .app-logo-title:hover {
    color: #5e5e5e;
    font-weight: bold;
}

.login-panel {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.login-box {
    background: #fff;
    width: 100%;
    max-width: 500px;
}

.login-text-title {
    color: #5e5e5e;
    font-weight:bold;
    font-size: 140%;
    display: block;
}

.login-line-division {
    width: 100%;
    height: 1px;
    background: #5e5e5e;
    display: block;
    opacity: 0.4;
}

.app-logo-desc {
    display: block;
}